{% extends 'store/base.html' %}
{% load static %}

{% block title %}Cart | KeyNest{% endblock %}

{% block content %}

<header class="topbar">
  <div class="logo">
  <a href="{% url 'home' %}">KeyNest</a>
</div>
  <nav class="nav" id="navMenu">
    <a href="{% url 'cart' %}">
      Cart <span id="cartCount" class="cart-count">0</span>
    </a>
  </nav>
  <button class="menu-btn" id="menuBtn">☰</button>
</header>

<main class="page-wrap">
  <section class="form-card">
    <div class="section-heading left">
      <h1>Your Cart</h1>
      <a href="{% static 'store/activation-guide.pdf' %}" 
   target="_blank" 
   class="btn primary">
  📄 Check activation guide ↗
</a>
      <p> Check activation guide and Review your order before checkout.</p>
    </div>

    <div id="cartItems" class="cart-items"></div>

    <div class="cart-summary">
      <h3>Total: £<span id="cartTotal">0.00</span></h3>
      <div class="hero-actions">
        <a href="{% url 'home' %}" class="btn secondary">Continue Shopping</a>
        <button id="stripeCheckoutBtn" class="btn primary" type="button">
          Proceed to Checkout
        </button>
      </div>
    </div>
  </section>
</main>

{% endblock %}